<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '姓名' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label '地址' %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label '手机号' %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label '支付方式' %><br>
    <%= f.select :pay_type, Order::PAYMENT_TYPE %>
  </div>
    <input type="hidden" value="<%=current_user.id%>" name="user[id]" >
  <div class="actions">
    <%= f.submit '立即下单' %>
  </div>
<% end %>
