
<article>
  <table class="table">
    <thead>
      <tr>
        <th><label>菜品名称</label></th>
        <th><label>单价</label></th>
        <th><label>数量</label></th>
        <th><label>总价</label></th>
      </tr>
    </thead>
    <tbody>
      <% @cart.line_items.each do |li|%>
          <tr>
            <td><%= li.food.name %></td>
            <td><%= number_to_currency(li.food.price, :unit=>'￥') %></td>
            <td><%= li.quantity %></td>
            <td><%= number_to_currency(li.total_price, :unit=>'￥') %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= button_to '清空购物车',@cart , :method => :delete,
    data: { confirm: '确认清空?'} %>

</article>

<aside class="sidebar">
  <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-5 control-label">送餐地址</label>
        <div class="col-sm-7">
          <label class="control-label">××××××××××××××××××××××××</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-5 control-label">支付方式</label>
        <div class="col-sm-7">
          <label class="control-label">餐到支付</label>
        </div>
      </div>
    <div class="form-group">
      <label class="col-sm-5 control-label">总计</label>
      <div class="col-sm-7">
        <label class="control-label"><%= number_to_currency(@cart.total_price, :unit=>'￥') %></label>
      </div>
    </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <%= button_to '立即下单', new_order_path, :method => :get %>
        </div>
      </div>
  </form>
</aside>
<br/>
<br/>
<br/>