
<article style="text-align: center">
  <%if @cart.line_items.length > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th><label>菜品名称</label></th>
        <th><label>单价</label></th>
        <th>
          <label>数量</label>
        </th>
        <th><label>总价</label></th>
      </tr>
    </thead>
    <tbody>
      <% @cart.line_items.each do |li|%>
          <tr>
            <td><%= li.food.name %></td>
            <td><%= li.food.price %></td>
            <td>
              <%= link_to 'javascript:;' do %>
                  <span class='glyphicon glyphicon-minus' onclick="adjustLineItemCount(this,<%=li.id%>);"></span>
              <% end %>
              <span class='line_item_quantity'> <%= li.quantity %></span>
              <%= link_to 'javascript:;' do %>
                  <span class='glyphicon glyphicon-plus' onclick="adjustLineItemCount(this,<%=li.id%>);"></span>
              <% end %>
            </td>
            <td class="line_item_total_price"><%= li.total_price %></td>
          </tr>
      <% end %>
      <tr>
        <td colspan="3"></td>
        <td id="cart_total_price"><%= @cart.total_price %></td>
      </tr>
    </tbody>
  </table>
  <%= button_to '清空购物车',@cart , :method => :delete, data: { confirm: '确认清空?'} %>
  <br/>
  <br/>
  <br/>
  <div class="border2"></div>
  <div style="text-align: center">
    <%= render 'form' %>
  </div>
  <% else %>
    <h5>购物车是空的,请前往<%= link_to '这里',delivery_index_path %>添加!</h5  >
  <% end %>
</article>

<aside class="sidebar">
  <h3>活动公告</h3>
  饭点较忙，电话常占线，本店优先配送网上订单。2、首次订餐用户，会跟您进行验证码确认，请确保您的电话号码正确及电话畅通，以便送餐员能及时联系上您3、外卖制作+配送都需要消耗时间，为了能及时用餐，希望大家提前半小时以上预定，避开高峰拥堵。投诉、意见、反馈热线：1*********
  <div class="border3"></div>
  <h3>广告位置</h3>
  <%= image_tag "home/1.jpg", size:"280" %>
  <p><strong>广告位</strong> 广而告之  广告<br>
    <a href="" class="right" style="padding-top:7px"><strong>友情链接 &raquo;</strong></a></p>
</aside>
<br/>
<br/>
<br/>
