
<article>
  <h3>留言</h3>
  <% @feedback_messages.each do |fm|%>

      <blockquote>
        <p><%=fm.subject%></p>
        <span>来自:<%=fm.user%>,<%=fm.created_at%></span>
        <div class="border3"></div>
      </blockquote>
  <% end %>

  <%=  will_paginate @feedback_messages %>

</article>

<%= render "aside" %>

