
<article>
  <h3>留言</h3>
  <% @feedback_messages.each do |fm|%>

      <blockquote>
        <p><%=fm.subject%></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=fm.content%></p>
        <span>来自:<%=fm.user ? fm.user : '匿名顾客'%>,<%=fm.created_at%></span>
        <div class="border3"></div>
      </blockquote>
  <% end %>

  <%=  paginate @feedback_messages %>

</article>

<%= render "aside" %>

