
<article class="menu">

  <% @foods.each do |f|%>
      <div class="left">
        <h3><%=f.name%>: $<%=f.price%></h3>
      </div>
      <!--<div class="left star"><img src="images/star_full.png" class="noeffects" alt=""><img src="images/star_full.png" class="noeffects" alt=""><img src="images/star_full.png" class="noeffects" alt=""><img src="images/star_half_full.png" class="noeffects" alt=""><img src="images/star_empty.png" class="noeffects" alt=""></div>-->
      <div class="right menu-order">
        <%= button_to '加入订单',line_items_path(:food_id => f.id),class: 'button order_button add_to_cart',id: "#{f.id}"%>
        <%= button_to '  移除  ','#',class: 'button order_button remove_from_cart',id: "#{f.id}",style: 'display:none'%>
      </div>
      <%= image_tag f.image_url(:thumb),class:"left clear item" %>
      <p class="left"><%= f.description %></p>
      <div class="border3"></div>
  <% end %>
  <%= paginate @foods %>
</article>
<aside class="sidebar">
  <h3>活动公告</h3>
  饭点较忙，电话常占线，本店优先配送网上订单。2、首次订餐用户，会跟您进行验证码确认，请确保您的电话号码正确及电话畅通，以便送餐员能及时联系上您3、外卖制作+配送都需要消耗时间，为了能及时用餐，希望大家提前半小时以上预定，避开高峰拥堵。投诉、意见、反馈热线：1*********
  <div class="border3"></div>
  <h3>广告位置</h3>
  <%= image_tag "home/1.jpg", size:"280" %>
  <p><strong>广告位</strong> 广而告之  广告<br>
    <a href="" class="right" style="padding-top:7px"><strong>友情链接 &raquo;</strong></a></p>
</aside>