<article class="fullwidth gallery">
  <h3>美食墙</h3>
  <a class="fancyimage" href="images/gallery/1.jpeg">
    <%= image_tag "gallery/1.jpeg",width:200 %>
  </a>
  <a class="fancyimage" href="images/gallery/2.jpg">
    <%= image_tag "gallery/2.jpeg",width:200 %>
  </a>
  <a class="fancyimage" href="images/gallery/3.jpeg">
    <%= image_tag "gallery/3.jpeg",width:200 %>
  </a>
  <a class="fancyimage" href="images/gallery/4.jpg">
    <%= image_tag "gallery/4.jpeg",width:200 %>
  </a>
  <a class="fancyimage" href="images/gallery/5.jpeg">
    <%= image_tag "gallery/5.jpeg",width:200 %>
  </a>
  <a class="fancyimage" href="images/gallery/6.jpg">
    <%= image_tag "gallery/6.jpeg",width:200 %>
  </a>
  <a class="fancyimage" href="images/gallery/7.jpeg">
    <%= image_tag "gallery/7.jpeg",width:200 %>
  </a>
  <a class="fancyimage" href="images/gallery/8.jpg">
    <%= image_tag "gallery/8.jpeg",width:200 %>
  </a>
</article>