<h3>我的订单</h3>
<table class="table">
  <thead>
  <tr>
    <th><label>姓名</label></th>
    <th><label>地址</label></th>
    <th><label>电话</label></th>
    <th><label>支付方式</label></th>
    <th><label>下单时间</label></th>
    <th><label>订单状态</label></th>
  </tr>
  </thead>

  <tbody>
  <% current_user.orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.phone %></td>
        <td><%= order.pay_type %></td>
        <td><%= order.created_at %></td>
        <td><%= order.status %></td>
      </tr>
  <% end %>
  </tbody>
</table>
