 <article>
      <%= render @partail_name %>
  </article>

  <aside class="sidebar">
    <h3><%=current_user.nickname%></h3>
      <ul>
        <li><%= link_to('修改信息',edit_info_userhome_path(current_user)) %></li>
        <li><%= link_to('我的订单',orders_userhome_path(current_user)) %></li>
        <li><%= link_to('修改密码',password_userhome_path(current_user)) %></li>
        <li><%= link_to "退出",destroy_user_session_path,:method =>:delete %></li>
      </ul>
  </aside>
